APP_USERNAME=admin
APP_PASSWORD=change_this_password
FLASK_SECRET_KEY=change_this_to_a_long_random_secret
APP_PORT=8081
PORT=8080
WEB_CONCURRENCY=2
GUNICORN_TIMEOUT=120
PROXY_NETWORK=proxy
COMPOSE_PROJECT_NAME=pdfsplitter
